/* Forked on 09-17-14 */
/* updated 04-03-15 */

/* Start Mac OS 10.8-Webkit Vertical Scroll Fix */
.dfm_sections::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}
.dfm_sections::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(57,84,122,1);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
/* End Mac OS 10.8-Webkit Vertical Scroll Fix */

/*Press+ Hack*/
/*Remove after Press+ deploys their fix*/
#gregbox-outer {z-index:50000000 !important;}
#gregbox-outer + div {z-index: 49000000 !important;}
#gregbox-signInTab, #gregbox-signInTab > img {z-index: 50000001 !important;}
/*End Press+ Hack*/

.nobubble .dfm_sections {
  width: auto!important;
}

li.dfm-dropdown-no-children:after {
	opacity:0 !important;
}

div#dfmSearch {text-align: right;}

.dfm_menu {border-collapse: separate;}

.dfm-share-widget {
	width:164px; 
	margin:10px auto;
	text-align:center;}
	
.promo-package .dfm-share-widget {
  position: absolute;
  top: 16px;
  right: 0;
}

.regionParent {width:100%;}

.dfm-container {width:650px; }

#linkDivider,
.linkDivider {
color:#ddd;
margin-left:5px;
margin-right:5px;
}

#HeaderContent {
	margin-bottom:2px;
}

.dfm-headline-photo {
	background-position-y:0px;
	background-size:cover;	
}

.dfmSecondaryNavItem {
	line-height: 22.652px;
	font-size: 14px;
}

.dfmSecondaryNavItemHover {
	/*background-color:#f4f4f4 !important;*/
}

.legacyMasthead {
	width:900px !important;
	padding-left:10px;
	
}

#dfmPageTitle {
	padding-top: 10px;
}

.dfmPageTitleTooLong {
	font-size:30px !important;
	padding-top: 18px;
}

#dfmNav-right-rail > div {margin-bottom:20px;}

footer {
	display:block;
}

.dfm-share-widget li {
	display: inline-block;
	margin-left: .5em;
}

.dogear {width:120px;height:90px;  padding-top:8px;}

#dogearRight {float:right;}

#dogearLeft {float:left; padding-right:3px;}

#dfmEndFooterLinks {
font:12px/22.652px "Helvetica Neue",Helvetica,Arial,sans-serif;
margin:auto;
text-align:center;
max-width:750px;
}
#dfmEndFooterLinks p {
color:#808080;
float:left;
margin-right:1em;
}
#dfmEndFooterLinks ul {
margin:5px auto;
width:auto;
max-width:1000px;
border-top: 1px solid #DDDDDD;
padding-top: 22.652px;
}
#dfmEndFooterLinks ul li {
margin-left:20px;
float:left;
}

#dfmHeader {z-index:4500;}
#dfmEndFooterLinks > ul > li > a {
	color:#5278ae;
	font:12px/22.652px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#dfmHeaderUpperLinks a, 
.verticals-menu a {
	font:12px/22.652px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#5278ae;	
}
#dfmCopyText {line-height:22px;}

#dfmFooterLogo > img {padding-top:10px;}

#dfmLeaderboardAd {			
	width: 50%;
	margin: 0 auto;
}

.dfm_topics > ul > p {
	font: normal 12px verdana,arial,helvetica,sans-serif;
}

#site-footer {
  *zoom: 1;
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #ffffff, #e3e3e3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e3e3e3));
  background-image: -webkit-linear-gradient(top, #ffffff, #e3e3e3);
  background-image: -o-linear-gradient(top, #ffffff, #e3e3e3);
  background-image: linear-gradient(to bottom, #ffffff, #e3e3e3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe3e3e3', GradientType=0);
  font: normal 12px / 22.652px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 80px;
  width: 100%;
}
#site-footer:before,
#site-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
#site-footer:after {
  clear: both;
}
#site-footer:before,
#site-footer:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
#site-footer:after {
  clear: both;
}
#site-footer a:hover {
  text-decoration: none;
}
#site-footer h4 {
  cursor: pointer;
}
#site-footer .head {
  background-color: #f2f2f1;
  background-image: -moz-linear-gradient(top, #fefefd, #dfdfdf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefd), to(#dfdfdf));
  background-image: -webkit-linear-gradient(top, #fefefd, #dfdfdf);
  background-image: -o-linear-gradient(top, #fefefd, #dfdfdf);
  background-image: linear-gradient(to bottom, #fefefd, #dfdfdf);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefefd', endColorstr='#ffdfdfdf', GradientType=0);
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 22.652px;
  padding: 11.326px 0;
  *zoom: 1;
  width: 100%;
}
#site-footer .head:before,
#site-footer .head:after {
  display: table;
  content: "";
  line-height: 0;
}
#site-footer .head:after {
  clear: both;
}
#site-footer .head:before,
#site-footer .head:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
#site-footer .head:after {
  clear: both;
}
#site-footer .head .property-logo {
  background: url('http://placehold.it/245x30&amp;text=property logo');
  margin: 0;
  width: 245px;
  height: 30px;
}
#site-footer .head .dfm-share-widget {
  position: absolute;
  right: 0;
  top: 0;
}
#site-footer .foot {
  border-top: 1px solid #dddddd;
  padding-top: 11.326px;
  clear: both;
  color: #808080;
}
#site-footer .foot p {
  text-align: center;
}
#site-footer .foot p a,
#site-footer .foot p span {
  margin-right: 1em;
}
#site-footer .body {
  *zoom: 1;
  margin-bottom: 22.652px;
}
#site-footer .body:before,
#site-footer .body:after {
  display: table;
  content: "";
  line-height: 0;
}
#site-footer .body:after {
  clear: both;
}
#site-footer .body:before,
#site-footer .body:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
#site-footer .body:after {
  clear: both;
}
#site-footer .caret {
  display: none;
  margin-top: 10px;
}

.dfm_fc-webicon {
  display: inline-block;
  background-size: 100%;
  width: 30px;
  height: 30px;
  text-indent: -999em;
  text-align: left;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  margin-bottom: 5px;
}
.dfm_fc-webicon:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
}
.dfm_fc-webicon.small {
  width: 20px;
  height: 20px;
  border-radius: 3px;
}
#footerLogo {
display:block;
margin:0 auto;
}

#footerShare {
margin:20px auto 10px auto !important;
}


body div.dfm_preHeaderRegion { margin: auto; width:970px; padding-top:3px; height:90px; }
/*Pulled from dfm-nav-core-article.css*/
/*
 Z-INDEX GUIDELINES:
         0 -   999      Background Elements
     1,000 - 1,999      Editorial Content: Story, polls, commenting, etc.
     2,000 - 2,999      Rich Media Content: Video players, Interactive graphics, etc.
     3,000 - 3,999      Standard Ads
     4,000 - 4,999      Page Chrome: Header, Footer, Right Rail
     5,000 - 1,999,999  Expanding Advertising: The entire expandable ad unit should be set within this range
 2,000,000 - 2,999,999  Floating Advertising: Over The Page ads (OTPs)
 3,000,000 - 3,999,999  Pop-up Elements: Chat windows, message notifications
 4,000,000 - 4,999,999  Non-anchored Floating Elements: Survey recruitment panels
 5,000,000 - 5,999,999  Expanding Site Navigation Elements: Drop down navigation, site warnings, etc. Only the expanding portion of navigation elements should be included on this level.
 6,000,000+             Full-page Overlays: Full-window Over-the-Page (OTP) ads and Between-the-Page ads IF they cover page content
*/

/* -------------------------------------------------------------------------- */
/* ARTICLE - DEFAULTS                                                         */
/* -------------------------------------------------------------------------- */
.margin                                                          { width:1084px; margin-left:auto; margin-right:auto; }
.buffer                                                          { display:none; visibility:hidden; position:absolute; left:-900000px; top:-900000px; }
.page                                                            { background-color:#ffffff; }
.page-head                                                       { margin-top:10px; }
.page-head .head                                                 { clear:both; margin-bottom:10px; text-align:center; }
.page-head .head .dfm_advertisement                                  { min-height:103px; }
.page-head .head .dfm_advertisement:before                           { content:"ADVERTISEMENT"; font-size:7pt; font-family:Helvetica Neue,Helvetica,Arial,sans-serif; color:#808080; text-transform:uppercase; margin-bottom:5px; display:block; clear:both; text-align:center; }
.page-head .body                                                 { clear:both; border-top:1px solid #aaaaaa; background-color:#ffffff; background-image:-moz-linear-gradient(top, #e5ebf3 0%, #ffffff 50%); background-image:-ms-linear-gradient(top, #e5ebf3 0%, #ffffff 50%); background-image:-webkit-gradient(linear, 0 0, 0 50%, from(#e5ebf3), to(#ffffff)); background-image:-webkit-linear-gradient(top, #e5ebf3 0%, #ffffff 50%); background-image:-o-linear-gradient(top, #e5ebf3 0%, #ffffff 50%); background-image:linear-gradient(top, #e5ebf3 0%, #ffffff 50%); background-repeat:repeat-x; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5ebf3', endColorstr='#ffffff', GradientType=0); *zoom:1; }
.page-head .body .masthead                                       { width:100%; *zoom:1; position:relative; }
.page-head .body .masthead:before,
.page-head .body .masthead:after                                 { display:table; content:""; }
.page-head .body .masthead:after                                 { clear:both; }
.page-head .body .masthead h2                                    { font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:50pt; font-weight:bold; color:purple; text-transform:uppercase; margin:0px; padding:0px; margin-top:-10px; }
.page-head .body .masthead h3                                    { margin:0px; margin-top:10px; margin-left:2px; }
.page-head .body .masthead .buttons                              { background-color:#dfdfdf; background-image:-moz-linear-gradient(top, #fefefd 0%, #dfdfdf 90%); background-image:-ms-linear-gradient(top, #fefefd 0%, #dfdfdf 90%); background-image:-webkit-gradient(linear, 0 0, 0 90%, from(#fefefd), to(#dfdfdf)); background-image:-webkit-linear-gradient(top, #fefefd 0%, #dfdfdf 90%); background-image:-o-linear-gradient(top, #fefefd 0%, #dfdfdf 90%); background-image:linear-gradient(top, #fefefd 0%, #dfdfdf 90%); background-repeat:repeat-x; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefd', endColorstr='#dfdfdf', GradientType=0); border-left:1px solid #808080; border-right:1px solid #808080; border-bottom:1px solid #808080; -webkit-border-radius:0 0 10px 10px; -moz-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px; float:right; position:absolute; right:0px; width:335px; height:32px; }
.page-head .body .masthead .buttons li                           { cursor:pointer; float:left; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:12px; font-weight:bold; line-height:32px; text-align:center; text-indent:30px; border-right:1px solid #aaaaaa; width:111px; }
.page-head .body .masthead .buttons li:hover                     { color:white; }
.page-head .body .masthead .buttons li:first-child:hover         { -webkit-border-radius:0 0 0 10px; -moz-border-radius:0 0 0 10px; border-radius:0 0 0 10px; }
.page-head .body .masthead .buttons li:last-child                { border-right:0; float:right; }
.page-head .body .masthead .buttons li:last-child:hover          { -webkit-border-radius:0 0 10px 0; -moz-border-radius:0 0 10px 0; border-radius:0 0 10px 0; }
.page-head .body .masthead .buttons li.weather-toggle            { background:transparent url('http://local.digitalfirstmedia.com/common/dfm/assets/img/weatherbug-icon.png') no-repeat 10px 3px; }
.page-head .body .masthead .buttons li.traffic-toggle            { background:transparent url('http://local.digitalfirstmedia.com/common/dfm/assets/img/trafficbug-icon.png') no-repeat 10px 0; }
.page-head .body .masthead .buttons li.markets-toggle            { background:transparent url('http://local.digitalfirstmedia.com/common/dfm/assets/img/marketsbug-icon.png') no-repeat 10px 3px; }
.page-head .body .masthead .buttons                              { margin-left:0; list-style:none; }
.page-head .body .search                                         { position:absolute; right:0px; bottom:0px; padding-bottom:5px; }
.page-head .body .search img                                     { margin:0; vertical-align:middle; line-height:20px; display:inline-block; margin-bottom:9px; margin-left:47px; }
.page-head .body .search form                                    { display:inline; }
.page-head .body .search form input                              { margin:0; vertical-align:middle; *overflow:visible; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; line-height:20px; display:inline-block; width:200px; height:22px; padding:4px; margin-bottom:9px; font-size:13px; color:#808080; border:1px solid #cccccc; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075); padding-right:46px; margin-right:-46px; }
.page-head .body .search form input:focus                        { border-color:rgba(82, 168, 236, 0.8); -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); outline:0; outline:thin dotted \9; }
.page-head .body .search form input[type="submit"]               { display:inline-block; padding:4px 10px 4px; font-size:13px; line-height:20px; color:#f9f9f9; text-align:center; cursor:pointer; width:40px; height:28px; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25); -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); background-color:#3a3f7b; background-image:-moz-linear-gradient(top, #3a557b 0%, #3a3f7b 50%); background-image:-ms-linear-gradient(top, #3a557b 0%, #3a3f7b 50%); background-image:-webkit-gradient(linear, 0 0, 0 50%, from(#3a557b), to(#3a3f7b)); background-image:-webkit-linear-gradient(top, #3a557b 0%, #3a3f7b 50%); background-image:-o-linear-gradient(top, #3a557b 0%, #3a3f7b 50%); background-image:linear-gradient(top, #3a557b 0%, #3a3f7b 50%); background-repeat:repeat-x; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a557b', endColorstr='#3a3f7b', GradientType=0); filter:progid:DXImageTransform.Microsoft.gradient(enabled=false); border:1px solid #cccccc; border-color:#3a3f7b #3a3f7b #212547; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; border-top-left-radius:0px; border-bottom-left-radius:0px; }
.page-head .foot                                                 { clear:both; height:41px; background-color:#dfdfdf; background-image:-moz-linear-gradient(top, #fefefd 0%, #dfdfdf 50%); background-image:-ms-linear-gradient(top, #fefefd 0%, #dfdfdf 50%); background-image:-webkit-gradient(linear, 0 0, 0 50%, from(#fefefd), to(#dfdfdf)); background-image:-webkit-linear-gradient(top, #fefefd 0%, #dfdfdf 50%); background-image:-o-linear-gradient(top, #fefefd 0%, #dfdfdf 50%); background-image:linear-gradient(top, #fefefd 0%, #dfdfdf 50%); background-repeat:repeat-x; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefd', endColorstr='#dfdfdf', GradientType=0); border-top:1px solid #dddddd; border-bottom:1px solid #dddddd; -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.5); -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.5); box-shadow:0 1px 1px rgba(0, 0, 0, 0.5); *zoom:1; margin:0px; padding:0px; }
.page-head .foot .dfm-navigation                                     { position:absolute; width:980px; z-index:5004500; overflow:visible; margin-left:-8px;}
.page-head .foot .dfm-navigation *                                   { margin:0px; padding:0px; }
.page-head .foot .dfm-navigation>ul                                  { *zoom:1; float:left; margin:0px; padding:0px; list-style:none; }
.page-head .foot .dfm-navigation>ul>li                               { padding-left:7px; float:left; position:static; *padding-right:7px; }
.page-head .foot .dfm-navigation>ul>li>span,
.page-head .foot .dfm-navigation>ul>li>a                             { color:#f9f9f9; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:16px; line-height:32pt;text-decoration:none; }
.page-head .foot .dfm-navigation>ul>li:hover>span,
.page-head .foot .dfm-navigation>ul>li:hover>a                       { color:#f9f9f9; text-decoration:none; }
.page-head .foot .dfm-navigation>ul>li:hover                         { background-color:#3a557b; }
.page-head .foot .dfm-navigation>ul>li:after                         { margin:0; margin-left:0px; margin-top:20px; margin-right:7px; display:inline-block; width:0; height:0; text-indent:-99999px; *text-indent:0; vertical-align:top; border-left:4px solid transparent; border-right:4px solid transparent; border-top:4px solid #111111; opacity:0.6; filter:alpha(opacity=60); content:"\2193"; }
.page-head .foot .dfm-navigation .dfm_menu                               { display:none; background-color:#ffffff; position:absolute; width:584px; top:41px; left:0px; border-top:3px solid #3a557b; border-bottom:3px solid #3a557b; -webkit-box-shadow:0 2px 2px rgba(40, 40, 40, 0.3); -moz-box-shadow:0 2px 2px rgba(40, 40, 40, 0.3); box-shadow:0 2px 2px rgba(40, 40, 40, 0.3); padding-top:25px; padding-bottom:15px; z-index: 5000001;}
.page-head .foot .dfm-navigation .dfm_menu h5                            { font-family:"Trebuchet MS","Helvetica Neue",Helvetica,Arial,sans-serif; font-size:10pt; color:#3A557B; text-transform:uppercase; margin-bottom:10px; font-weight:bold; }
.page-head .foot .dfm-navigation .dfm_menu .dfm_sections                     { width:148px; float:left; margin-right:0px; margin-left:10px; }
.page-head .foot .dfm-navigation .dfm_menu .dfm_topics                       { width:248px; float:left; margin-right:40px; margin-left:10px; }
.page-head .foot .dfm-navigation .dfm_menu .dfm_headlines                    { width:248px; float:left; margin-right:40px; margin-left:10px; }
.page-head .foot .dfm-navigation .dfm_menu .dfm_advertisement                { width:300px; float:left; }
.page-head .foot .dfm-navigation .dfm_menu .dfm_topics img                   { width:100%; margin-bottom:7px; }
.page-head .foot .dfm-navigation .dfm_menu .dfm_topics h3                    { margin-bottom:5px; padding-bottom:5px;}
.page-head .foot .dfm-navigation .dfm_menu .dfm_topics h3 a                  { color:#444444; text-shadow:0 1px 0 #f9f9f9; font-family:"Merriweather", "Rockwell", "Georgia", "Times New Roman", Times, serif; font-size:12pt; font-weight:bold; text-decoration:none; }
.page-head .foot .dfm-navigation .dfm_menu .dfm_sections ul li               { list-style:none outside none; margin-bottom:12px; }
.page-head .foot .dfm-navigation .dfm_menu .dfm_sections ul li a             { font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:10.5pt; font-weight:bold; color:#3a557b; }
.page-head .foot .dfm-navigation .dfm_menu .dfm_headlines ul,
.page-head .foot .dfm-navigation .dfm_menu .dfm_topics ul                    { margin-left:-1px; }
.page-head .foot .dfm-navigation .dfm_menu .dfm_headlines ul li,
.page-head .foot .dfm-navigation .dfm_menu .dfm_topics ul li                 { list-style:none outside none; text-indent:-10px; margin-bottom:10px; color:#3a557b; font-family:Helvetica Neue,Helvetica,Arial,sans-serif; font-size:10.5pt; font-weight:bold; }
.page-head .foot .dfm-navigation .dfm_menu .dfm_headlines ul li:before,
.page-head .foot .dfm-navigation .dfm_menu .dfm_topics ul li:before          { content: "\00BB\00a0"; }
.page-head .foot .dfm-navigation .dfm_menu .dfm_headlines ul li a,
.page-head .foot .dfm-navigation .dfm_menu .dfm_topics ul li a               { color:#444444; font-family:"Merriweather","Rockwell","Georgia","Times New Roman",Times,serif; font-size:10pt; line-height:10pt; font-weight:normal; }
.page-head .foot .dfm-navigation .dfm_menu .dfm_headlines ul li a:hover,
.page-head .foot .dfm-navigation .dfm_menu .dfm_topics ul li a:hover         { color:#2a3d58; text-shadow:0 0 0 #f9f9f9; text-decoration:underline; }
.page-head .foot .dfm-navigation #list                               { margin:0px; padding:0px; width:auto; background-color:#dfdfdf; border-width:0px; top:42px; }
.page-head .foot .dfm-navigation #list *                             { margin:0px; padding:0px; }
.page-head .foot .dfm-navigation #list .dfm_sections ul li               { border-top:1px solid #ffffff; border-bottom:1px solid #444444; padding:10px; }
.page-head .foot .dfm-navigation #list .dfm_sections ul li a             { font-size:9pt; }
.page-head .foot .dfm-navigation #list .dfm_sections ul li:hover         { background-color:#3a557b; border-bottom:1px solid #3a557b; }
.page-head .foot .dfm-navigation #list .dfm_sections ul li:hover a       { color:#dfdfdf; text-decoration:none; }
.page-body                                                       { }
.page-body .head                                                 { }
.page-body .body                                                 { margin-right:386px; }
.page-body .body *                                               { font-size:10.5pt; font-family:Georgia,Times New Roman,Times,serif; color:#444444; }
.page-body .body .weekly-specials                                { text-align:center; }
.page-body .body .weekly-specials *                              { font-size:7.5pt; font-family:Helvetica Neue,Helvetica,Arial,sans-serif; color:#444444; text-transform:uppercase; text-align:center; }
.page-body .body .weekly-specials ul                             { list-style-type:none; width:100%; }
.page-body .body .weekly-specials ul li                          { float:left; height:31px; margin-left:10px; }
.page-body .body .weekly-specials ul li:first-child              { border-right:1px solid #444444; margin-left:0px; padding-right:10px; line-height:24pt; }
.page-body .body .article                                        { clear:left; padding-top:20px; }
.page-body .body .article .breadcrumbs,
.page-body .body .article .breadcrumbs *                         { font-size:9pt;  margin-bottom:15px; font-family:Trebuchet MS,Helvetica Neue,Helvetica,Arial,sans-serif; color:#444444; }
.page-body .body .article .breadcrumbs a                         { color:#3a557b; }
.page-body .body .article .overline                              { color:#777777; font-size:14pt; font-weight:bold; margin-bottom:15px; }
.page-body .body .article .title                                 { font-size:24pt; margin-bottom:15px; font-family:Merriweather,Georgia,Times New Roman,Times,serif; }
.page-body .body .article .subtitle                              { font-size:13pt; margin-bottom:15px; }
.page-body .body .article .byline                                { margin-left:190px; }
.page-body .body .article .byline,
.page-body .body .article .byline                                { font-style:italic; color:#000000; }
.page-body .body .article .byline a,
.page-body .body .article .byline a *                            { font-weight:bold;  color:#3a557b; }
.page-body .body .article .date                                  { margin-left:190px; border-top:1px solid #aaaaaa; border-bottom:1px solid #aaaaaa; padding-top:5px; padding-bottom:5px; margin-top:7px; margin-bottom:10px; }
.page-body .body .article .date,
.page-body .body .article .date *                                { font-size:7.5pt; font-family:Helvetica Neue,Helvetica,Arial,sans-serif; color:#808080; text-transform:uppercase; }
.page-body .body .article .date .updated:before                  { content:"\00a0 | \00a0"; }
.page-body .body .article .story                                 { margin-left:190px; }
.page-body .body .article .story,
.page-body .body .article .story *                               { line-height:1.5em; }
.page-body .body .article .story .group                          { float:right; margin-left:20px; margin-bottom:20px; }
.page-body .body .article .story .group,
.page-body .body .article .story .group *                        { max-width:336px; min-width:200px; font-size:9pt; font-weight:bold; line-height:14pt; font-family:Helvetica Neue,Helvetica,Arial,sans-serif; color:#444444; }
.page-body .body .article .story .credit                         { font-size:8pt; font-weight:normal; padding-top:8px; }
.page-body .body .article .sidebar                               { max-width:148px; float:left; margin:0px; padding:0px; }
.page-body .body .article .sidebar .group *                      { max-width:148px; min-width:148px; font-size:9pt; font-weight:bold; line-height:14pt; font-family:Helvetica Neue,Helvetica,Arial,sans-serif; color:#444444; }
.page-body .body .article .sidebar .group .media img             { max-width:148px; max-height:200px; }
.page-body .body .article .sidebar .story-links                  { width:100%; border-top:2px solid #dddddd; padding-top:10px; border-bottom:2px solid #dddddd; margin-bottom:10px; padding-bottom:10px; }
.page-body .body .article .sidebar .story-links *                { font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:7.5pt; text-transform:uppercase; color:#444444; text-decoration:none; }
.page-body .body .article .sidebar .story-links ul               { margin:0px; padding:0px; list-style-position:inside; list-style:none; }
.page-body .body .article .sidebar .story-links ul li            { line-height:16px; }
.page-body .rail                                                 { width:336px; float:right; margin:0px; padding:0px; text-align:center; }
.page-body .rail .dfm_advertisement,
.page-body .rail .daily-deals                                    { margin:0px; margin-bottom:20px; padding:0px; }
.page-body .rail .dfm_advertisement:before,
.page-body .rail .daily-deals:before                             { content:"ADVERTISEMENT"; font-size:7pt; font-family:Helvetica Neue,Helvetica,Arial,sans-serif; color:#808080; text-transform:uppercase; margin-bottom:5px; display:block; clear:both; text-align:center; }
.page-body .rail .daily-deals                                    { border-bottom:1px solid #aaaaaa; padding-bottom:20px; }
.page-body .foot                                                 { margin-right:386px; }
.page-body .foot .comments,
.page-body .foot .recommended                                    { margin:0px; padding:0px; border-top:4px solid #dddddd; margin-top:40px; padding-top:40px; }
.page-body .foot .recommended                                    { margin-top:35px; padding-top:20px; }
.page-body .foot .comments .head                                 { border-bottom:1px solid #dddddd; margin-bottom:12px; }
.page-body .foot .comments .head h2                              { font-family:Trebuchet MS,Helvetica Neue,Helvetica,Arial,sans-serif; font-size:14pt; color:#3a557b; text-transform:uppercase; padding-bottom:2px; font-weight:bold; }
.page-body .foot .comments .head span                            { font-family:Helvetica Neue,Helvetica,Arial,sans-serif;              font-size:9pt;  color:#3a557b; float:right; }
.page-body .foot .comments .foot p *                             { font-family:Helvetica Neue,Helvetica,Arial,sans-serif; font-size:9pt; }
.page-foot                                                       { background-color:#e3e3e3; background-image:-moz-linear-gradient(top, #ffffff 0%, #e3e3e3 50%); background-image:-ms-linear-gradient(top, #ffffff 0%, #e3e3e3 50%); background-image:-webkit-gradient(linear, 0 0, 0 50%, from(#ffffff), to(#e3e3e3)); background-image:-webkit-linear-gradient(top, #ffffff 0%, #e3e3e3 50%); background-image:-o-linear-gradient(top, #ffffff 0%, #e3e3e3 50%); background-image:linear-gradient(top, #ffffff 0%, #e3e3e3 50%); background-repeat:repeat-x; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e3e3e3', GradientType=0); *zoom:1; }
.page-foot .head .dfm_advertisement                                  { width:728px; margin-left:auto; margin-right:auto; margin-top:20px; margin-bottom:40px; }
.page-foot .head .dfm_advertisement:before                           { content:"ADVERTISEMENT"; font-size:7pt; font-family:Helvetica Neue,Helvetica,Arial,sans-serif; color:#808080; text-transform:uppercase; margin-top:30px; margin-bottom:5px; display:block; clear:both; text-align:center; }
.page-foot .body .dfm-navigation .head                               { background-color:#dfdfdf; background-image:-moz-linear-gradient(top, #fefefd 0%, #dfdfdf 50%); background-image:-ms-linear-gradient(top, #fefefd 0%, #dfdfdf 50%); background-image:-webkit-gradient(linear, 0 0, 0 50%, from(#fefefd), to(#dfdfdf)); background-image:-webkit-linear-gradient(top, #fefefd 0%, #dfdfdf 50%); background-image:-o-linear-gradient(top, #fefefd 0%, #dfdfdf 50%); background-image:linear-gradient(top, #fefefd 0%, #dfdfdf 50%); background-repeat:repeat-x; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefd', endColorstr='#dfdfdf', GradientType=0); border-top:1px solid #dddddd; border-bottom:1px solid #dddddd; -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.5); -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.5); box-shadow:0 1px 1px rgba(0, 0, 0, 0.5); margin-bottom:20px; *zoom:1; }
.page-foot .body .dfm-navigation .head:before,
.page-foot .body .dfm-navigation .head:after                         { display:table; content:""; clear:both; }
.page-foot .body .dfm-navigation .head h2                            { float:left; margin-top:15px; }
.page-foot .body .dfm-navigation .head ul                            { *zoom:1; float:right; margin:0px; margin-top:10px; padding:0px; list-style:none; }
.page-foot .body .dfm-navigation .head ul li                         { float:left; position:static; width:34px; height:34px; display:inline-block; margin-left:10px; background:transparent url(http://local.benningtonbanner.com/common/dfm/social-media-logos.png) no-repeat 0 0; }
.page-foot .body .dfm-navigation .head ul li a                       { width:34px; height:34px; display:block; text-indent:-9999px; }
.page-foot .body .dfm-navigation .body                               { clear:both; }
.page-foot .body .dfm-navigation .body .group                        { width:148px; float:left; margin-right:39px; margin-bottom:20px; }
.page-foot .body .dfm-navigation .body .group:last-child             { margin-right:0px; }
.page-foot .body .dfm-navigation .body .group ul                     { padding:0; margin:0 0 20px 0px; list-style:none; }
.page-foot .body .dfm-navigation .body .group ul li                  { text-shadow:0 1px 0 #f9f9f9; line-height:20px; }
.page-foot .body .dfm-navigation .body .group ul li *                { color:#808080; }
.page-foot .body .dfm-navigation .body .group ul li:before           { content:"\00BB\00a0\00a0"; }
.page-foot .body .dfm-navigation .body .group h2,
.page-foot .body .dfm-navigation .body .group h2 a                   { color:#3a557b; font-family:Trebuchet MS,Helvetica Neue,Helvetica,Arial,sans-serif; font-size:14pt; font-weight:bold; text-transform:uppercase; margin:0px; margin-bottom:7px; text-shadow:0 1px 0 #f9f9f9; text-rendering:optimizelegibility; }
.page-foot .body .dfm-navigation .body .group h2:before              { content:""; }
.page-foot .body .dfm-navigation .foot                               { clear:both; border-top:1px solid #dddddd; padding-top:10px; padding-bottom:40px; }
.page-foot .body .dfm-navigation .foot *                             { font-family:Helvetica Neue,Helvetica,Arial,sans-serif; font-size:8pt; font-weight:normal; text-shadow:0 1px 0 #f9f9f9; }
.page-foot .body .dfm-navigation .foot ul                            { list-style-type:none; text-align:center; position:relative; }
.page-foot .body .dfm-navigation .foot li                            { display:inline; }
.page-foot .body .dfm-navigation .foot li *                          { color:#808080; }
.page-foot .body .dfm-navigation .foot ul li:before                  { content:"\00a0\00a0 | \00a0\00a0"; }
.page-foot .body .dfm-navigation .foot ul li:first-child:before      { content:""; }



/* -------------------------------------------------------------------------- */
/* ARTICLE - TABLET                                                           */
/* -------------------------------------------------------------------------- */
.tablet                                                          { width:100%; }
.tablet .margin                                                  { width:100%; }
.tablet .page-head .body .masthead h2                            { margin-left:10px; }
.tablet .page-head .body .masthead h3                            { margin-left:10px; }
.tablet .page-head .body .search                                 { right:10px; }
.tablet .page-head .foot .dfm-navigation                             { width:100%; }
.tablet .page-head .foot .dfm-navigation .dfm_menu                       { width:100%; }
.tablet .page-body                                               { padding:15px; }
.tablet .page-body .body                                         { margin-right:0px; }
.tablet .page-body .body .article .story *                       { font-size:14pt; line-height:24pt; }
.tablet .page-body .rail                                         { width:0px; display:none; }
.tablet .page-body .foot                                         { margin-right:0px; }
.tablet .page-foot .body .dfm-navigation .head h2                    { margin-left:20px; }
.tablet .page-foot .body .dfm-navigation .head ul                    { margin-right:20px; }
.tablet .page-foot .body .dfm-navigation .body,
.tablet .page-foot .body .dfm-navigation .foot                       { padding-left:40px; }
.tablet .page-foot .body .dfm-navigation .body .group ul li          { border-top:1px solid #aaaaaa; }

/* -------------------------------------------------------------------------- */
/* ARTICLE - PHONE                                                            */
/* -------------------------------------------------------------------------- */
.phone                                                           { width:100%; }
.phone  .margin                                                  { width:100%; }
.phone  .page-head .body .masthead h2                            { margin-left:10px; }
.phone  .page-head .body .masthead h3                            { margin-left:10px; }
.phone  .page-head .body .search                                 { right:10px; }
.phone  .page-head .foot .dfm-navigation                             { width:100%; }
.phone  .page-head .foot .dfm-navigation .dfm_menu                       { width:100%; }
.phone  .page-body                                               { padding:15px; zoom:250%; }
.phone  .page-body .body                                         { margin-right:0px; }
.phone  .page-body .body .weekly-specials                        { display:none; }
.phone  .page-body .body .article .breadcrumbs,
.phone  .page-body .body .article .overline,
.phone  .page-body .body .article .title,
.phone  .page-body .body .article .subtitle,
.phone  .page-body .body .article .byline,
.phone  .page-body .body .article .byline a,
.phone  .page-body .body .article .date,
.phone  .page-body .body .article .story,
.phone  .page-body .body .article .story p                       { margin-left:0px; background-color:#ffffff; }
.phone  .page-body .body .article .sidebar                       { display:none; }
.phone  .page-body .rail                                         { width:0px; display:none; }
.phone  .page-body .foot                                         { margin-right:0px; }
.phone  .page-foot .body .dfm-navigation .head h2                    { margin-left:20px; }
.phone  .page-foot .body .dfm-navigation .head ul                    { margin-right:20px; }
.phone  .page-foot .body .dfm-navigation .body                       { padding-left:20px; }
.phone  .page-foot .body .dfm-navigation .body .group                { width:100%; zoom:300%; float:none; clear:right; margin:0px; }
.phone  .page-foot .body .dfm-navigation .body .group ul li          { border-top:1px solid #aaaaaa; margin-right:5px; line-height:24pt; }
.phone  .page-foot .body .dfm-navigation .foot                       { zoom:350%; }
.phone  .page-foot .body .dfm-navigation .foot li                    { display:block; line-height:18pt; }
.phone  .page-foot .body .dfm-navigation .foot li:before             { content:""; }

/* -------------------------------------------------------------------------- */
/* ARTICLE - PRINT                                                            */
/* -------------------------------------------------------------------------- */
@media print {
  .page                                                          { background:none; }
  .margin                                                        { width:100%; }
  .page-head .head .dfm_advertisement                                { display:none; }
  .page-head .body                                               { background-color:#ffffff; background-image:none; border:0px none transparent; }
  .page-head .body .masthead .buttons                            { display:none; }
  .page-head .body .masthead  h2                                 { font-size:32pt; }
  .page-head .body .search                                       { display:none; }
  .page-head .foot                                               { display:none; }
  .page-body .body                                               { margin-right:0px; }
  .page-body .body .weekly-specials                              { display:none; }
  .page-body .body .article .byline                              { margin-left:0px; }
  .page-body .body .article .date                                { margin-left:0px; border:0px none transparent; }
  .page-body .body .article .story                               { margin-left:0px; }
  .page-body .body .article .sidebar                             { float:right; margin-top:10px; }
  .page-body .body .article .sidebar .story-links                { display:none; }
  .page-body .rail                                               { display:none; }
  .page-body .foot                                               { margin-right:0px; }
  .page-body .foot .recommended                                  { display:none; }
  .page-body .foot .comments                                     { border:0px none transparent; border-top:1px solid #dddddd; margin-top:20px; margin-bottom:20px; padding-top:10px; padding-bottom:10px; }
  .page-body .foot .comments .head                               { display:none; }
  .page-body .foot .comments .foot                               { display:none; }
  .page-foot                                                     { background-color:#ffffff; background-image:none; }
  .page-foot .head .dfm_advertisement                                { display:none; }
  .page-foot .body .dfm-navigation .head                             { display:none; }
  .page-foot .body .dfm-navigation .body                             { display:none; }
  .page-foot .body .dfm-navigation .foot li                          { display:none; }
  .page-foot .body .dfm-navigation .foot ul li:first-child           { display:block; }
}
/*End dfm-nav-core-article.css*/






/*Pulled from bartertown.css*/

#dfmHeader .dfmPrimaryNav .dfm_topics ul .cutOffWrapper {
height: 135px;
overflow:hidden;
}


.mostTabBody a,
.page-head .foot .dfm-navigation .dfm_menu .dfm_headlines ul li a,
#Site a.complexListingLink:link,
li.listNoImage a.listingItemTitle, 
.complexListingBox a.complexListingLink,
.link-list ul li a {
	width: 100%;
  margin-left:0;
  display: block;
  font-size: 13px !important;
  font-weight: normal !important;
  line-height: 1.41;
  border-top: 1px solid #e3e3e3;
  padding: 11.326px 0;
  color: #666666 !important;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.page-head .foot .dfm-navigation .dfm_menu .dfm_headlines ul li {
	margin: 0 !important;
	left: 0 !important;
	text-indent: 0 !important;
}
.page-head .foot .dfm-navigation .dfm_menu .dfm_headlines ul li:before {
	content: none !important;
}
.page-head .foot .dfm-navigation .dfm_menu .dfm_headlines ul li a {
	height: auto;
	width: 248px;
	white-space: normal;
	font: normal 13px verdana,arial,helvetica,sans-serif;
	text-decoration:none;
}
.mostTabBody a:hover,
.page-head .foot .dfm-navigation .dfm_menu .dfm_headlines ul li a:hover,
li.listNoImage a.listingItemTitle, .complexListingBox a:hover.complexListingLink,
.link-list ul li a:hover {
  background-color: #fbfcfd;
  background-image: -moz-linear-gradient(top, #f8fafc, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8fafc), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #f8fafc, #ffffff);
  background-image: -o-linear-gradient(top, #f8fafc, #ffffff);
  background-image: linear-gradient(to bottom, #f8fafc, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8fafc', endColorstr='#ffffffff', GradientType=0);
  padding: 11.326px 5.663px;
  text-decoration: none;
  color: #333333;
  border-top: 1px solid #39547a;
}

.page-head .body .masthead h2 {
    font: bold 48px/1 "Oxygen","Trebuchet MS","Merriweather","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    text-transform: uppercase;
    color: #39547A !important;
    margin-top:0;
}

.page-head .body .masthead h1 {
    font: bold 48px/1 "Oxygen","Trebuchet MS","Merriweather","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    text-transform: uppercase;
    color: #39547A !important;
    margin-top: 0;
    margin: 0;
    padding:0;
    display: block;
}

.masthead h3 img {
    max-height: 23px;
    width: auto !important;
}
.page-head .body .masthead h3 {
    margin: 8px 0 3px 2px;
}
.page-head .foot {
  min-height: 30px;
  background-color: #3e5b84 !important;
  background-image: -moz-linear-gradient(top, #5278ae, #213046) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5278ae), to(#213046)) !important;
  background-image: -webkit-linear-gradient(top, #5278ae, #213046) !important;
  background-image: -o-linear-gradient(top, #5278ae, #213046) !important;
  background-image: linear-gradient(to bottom, #5278ae, #213046) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5278ae', endColorstr='#ff213046', GradientType=0) !important;
  border: 1px solid #39547a !important;
  *zoom: 1 !important;
}

.page-head .body .masthead {
   overflow: hidden !important;
}

.page-head .body .search form input {
  height: 28px !important;
  margin: 0 4px 0 0 !important;
  padding: 0 4px!important;
  border-radius: 4px 0 0 4px;
}
.page-head .body .search form input[type="submit"] {
  width: 41px !important;
  margin: 0 0 0 -5px !important;
  padding: 0!important;
}
.page-head .body .search img {
	display: none !important;
}

.page-head .foot .dfm-navigation > ul > li > span,
.page-head .foot .dfm-navigation > ul > li > a {
	/*color: #f9f9f9 !important;
	text-shadow: 0 0 0 !important;
	font-weight: normal !important;
	text-decoration: none !important;*/
}
.page-head .foot .dfm-navigation > ul > li:hover {
  background: #f9f9f9 !important;
}
.page-head .foot .dfm-navigation .dfm_menu {
	border: 0 !important;
	border-radius: 0;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
}
.page-head .foot .dfm-navigation .dfm_menu .dfm_sections {
	width: 190px !important;
	height: 325px; /*Servicedesk case #344982*/ /*height: 256px;*/
	overflow: auto;
	overflow-x: hidden;
}
.page-head .foot .dfm-navigation .dfm_menu .dfm_sections ul li {
	display: block;
	margin: 0 !important;
	width: 100% !important;
}
.page-head .foot .margin .dfm-navigation ul li:first-child {
	left: 0 !important;
}
.page-head .foot .dfm-navigation .dfm_menu .dfm_sections ul li a {
  display: block;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #f9f9f9;
  padding: 4px 0;
  color: #5278AE;
  font-weight: normal !important;
  text-decoration:none;
}
.page-head .foot .dfm-navigation .dfm_menu .dfm_sections ul li a:hover {
  background: #f1f1f1;
  color: #333333;
  border-top-color: #39547a;
  padding-left: 6px;
  text-decoration: none !important;
}

.page-head .foot .dfm-navigation #list {
	background-color:#fff !important;
}

.page-head .foot .dfm-navigation #list .dfm_sections ul li,
.page-head .foot .dfm-navigation #list .dfm_sections ul li a {
	border-top: 0 !important;
	border-bottom: 0 !important;
}
.page-head .foot .dfm-navigation #list .dfm_sections ul li:hover         { background-color:#f1f1f1 !important; border-bottom: 0 !important; }
.page-head .foot .dfm-navigation #list .dfm_sections ul li:hover a       { color:#333 !important; text-decoration:none; text-decoration:underline; }


#sponsorLinks iframe {
  display: block;
	margin: 0 auto !important;
}

.page-head .foot .dfm-navigation > ul > li:hover > span, 
.page-head .foot .dfm-navigation > ul > li:hover > a {
  color: #39547a !important;
  text-decoration:none !important;
}
.page-head .foot .dfm-navigation > ul > li:after {
	margin: 20px 7px 0 4px;
	display: inline-block;
	width: 0;
	height: 0;
	text-indent: -99999px;
	vertical-align: top;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #fff;
	content: "\2193";
}

.page-head .foot .dfm-navigation .dfm_menu .dfm_topics { margin-right:5px!important; } /* keep the ad from breaking to the next line */
/* End bartertown.css */

.dfm_menu-noAd {width:765px !important;}
.dfm_menu-noChildren {width:880px !important;}
.dfm_menu-noRSS {}
.dfm_menu-noAdOrRSS {
	width:200px !important;
}

/* start Weather */

#weatherBoxReal
{
width: 575px;
margin: auto;
color: #ddd;
float: right;
font-family: Arial, sans-serif;
max-height:28px;
}
#weatherBoxReal table { float: right; }
#weatherBoxReal span.weatherHead { padding-right: 10px; color: #666; }
#weatherBoxReal .weatherContent a { padding: 0 10px; }
#weatherBoxReal a, #weatherBoxReal a:hover { color: #5278ae; }
.weatherBox { font-size:12px; }



#current_conditions .headerRegion .weatherHead {
  font-family:arial;
  color:#fff;
}

#current_conditions .weatherContent, 
#current_conditions a.weatherFiveDayLink {
  font-size:11px;
}

#current_conditions .weathercontent {
	font:normal 10px arial;
	color:#ffffff;
}

#current_conditions .weathercontent .weatherfivedaylink {
	color:#ffcc66;
	font:normal 10px arial; 
}

.weathersectionlink {
	font:bold 12px arial;
}

#current_conditions table.weatherBox td {
  font-size:12px;
}

#current_conditions table.weatherBox {
  margin-top:20px;
  margin-bottom:0 !important;
  padding-bottom:0 !important;
}

#current_conditions .weatherHead {
  text-align:center;
}

#current_conditions .weatherBox table {
  width:100%;
}

#current_conditions td.weatherHead {
  padding-top:10px;
}

#current_conditions .weatherLink img {
  margin-top:12px;
}

#current_conditions .wthrDay {
  font-weight:bold;
}

#current_conditions .weatherHead {
  font-size:15px !important;
  color:#000;
}

#current_conditions {
  border:1px solid #999;
}

#current_conditions table {
  margin: 0px 25px 25px;
}

#current_conditions .weatherText {
  font-style:italic;
}

#current_conditions .weatherSubTitle {
  font-weight:bold;
  font-size:14px;
  padding-top:15px;  
}

#current_conditions .weatherHead {
  padding-top:15px;
}

#flight_delays {
  margin-top:30px;
  text-align:center !important;
}

#flight_delays table {
  text-align:center;
  font-size:10px;
  width:600px;
  margin-top:10px;
  margin-left:25px;
  margin-bottom:10px;
}

#flight_delays table td {
  font-size:11px;
  padding:10px;
  border-spacing:0 !important;
}

/* end Weather */


#dfmHeader .weatherIcon, #dfmHeader .weatherBox img, #dfmHeader #weatherBoxReal img 
{ 
width:15px!important; 
height:15px!important; 
max-width:15px!important; 
}

#dfmHeader ul,
#dfmHeader ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#dfmHeader a {
	text-decoration:none;
}

#dfmHeader img {
	border-top-color: currentColor;
	border-right-color: currentColor;
	border-bottom-color: currentColor;
	border-left-color: currentColor;
	border-width: 0px;
	border-style: none;
}

#eplayerHolder {z-index:2000;}

.verticals-menu {
   text-align:right;
   font-size:12px;
   font-weight:bold;
}
.verticals-menu ul li {
   display:inline-block;
   margin:0 3px;
}
