*ipynb_checkpoints/
*.png
*.gephi_temp*

article_saved_html/

.Rhistory
.DS_Store
.Rproj.user

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md