/* this adjusts the left nav arrows so that they work with the HTML5 doctype.  Otherwise the margin in the va_files css pushes it down*/
.accordion span {
	margin-top: 0px!important;
}
li {
	padding-bottom: 0px !important;
}
/* FIX these tags from the VA_STYLES css */
sub {
	vertical-align: sub !important;
	font-size: smaller !important;
	line-height: normal !important;
}
sup {
	vertical-align: super !important;
	font-size: smaller !important;
	line-height: normal !important;
}
/* 3-col homeInnerContent fix with too much padding */
.homeInnerContent {
	margin-top: 0px !important;
}
.currents-nav {
	color: #fff !important;
	text-align: center;
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 5px;
}
.currents-nav a {
	color: #fff !important;
}
/* This is taken from the TeamSite css here http://www.va.gov/TS_SHARED/va_administrations/VHA/styles/site-styles.css and moves the VHA logo up into the white column */

}
.varqu-nav {
	text-align: center;
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

.VHA-administration-logo {
	position: relative;
	left: 0px;
	top: -80px;
	margin-bottom: -54px;
	width:180px; 
}

/* added to allow some tables to have no border */

.noBorder {
	border: none !important;
	vertical-align: top;
}
.noBorder td {
	border: none !important;
	vertical-align: top;
}
.noBorder td table td {
	border: 1px solid #CCCCCC !important;
	vertical-align: top;
}

/* Added to give data tables a border  */

.datatable table {
	border-collapse: collapse;
	border: 1px solid #CCCCCC !important;
}
.datatable table, th, td {
	border: 1px solid #CCCCCC !important;
	vertical-align: top;
}
.datatable img {
	margin-bottom: 0px !important;
}
/*added to force table cells to vertical-align */
#tier4innerContent img {
	vertical-align: top;
}
#tier4innerContent td {
	vertical-align: top;
}
#innerContent td {
	vertical-align: top;
}
/* fix right col badge centering problem 
#innerRightContent .badge {
                margin-left: 18px; 
   }*/
	 

/* right-col pull quotes for Research Topics page */
.researchTopicPullQuote {
	float: right;
	padding: 6px;
	width: 180px;
	background-color: #FFF;
	margin: 0px 10px 5px 0px;
	border: 1px solid #a2a2a2;
	font-size: 10px;
	font-weight: normal;
}
.rightcol_box {
	float: left;
	width: 200px;
	max-height: 100%;
	border: 3px solid #e0e9f0;
	clear: left;
	margin-top: 10px;
	margin-left: 8px;
	margin-right: 0;
	padding-right: 0;
	padding: 0;
	background-color: #fff;
}
.rightcol_box h4 {
	color: #cc9933;
	text-transform: uppercase;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #e0e9f0;
	margin: 0;
}
.rightcol_box img {
	display: block;
	margin: 0 auto!important;
}
.rightcol_box p {
	line-height: 1.3em;
	margin-top: 6px;
	margin-left: 8px;
	font-size: 1em;
}
.rightcol_box ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.rightcol_box ul li {
	font-family: Arial, Helvetica, sans-serif;
	color: #444444;
	list-style-type: none;
	display: block;
	padding: 8px;
	margin: 0;
	border-top: 1px solid #e0e9f0;
	border-bottom: 1px solid #FFF;
}
.rightcol_box a {
	font-family: Arial, Helvetica, sans-serif;
	display: inline !important;
	font-size: 1em;
	color: #444444;
	font-style: normal;
	text-decoration: none;
	padding: 0!important;
	margin: 0!important;
	line-height: 1.5em;
	background: none;
}
.rightcol_box a:hover {
	color: #0083C5;
}
/* -----------------SPECIAL FEATURES ----------------- */


.callout {
	float: right;
	width: 205px;
	max-height: 100%;
	border: 3px solid #e0e9f0;
	clear: left;
	margin-top: 10px;
	margin-left: 8px;
	margin-right: 0;
	padding-right: 0;
	padding: 0;
	background-color: #fff;
}
.callout h4 {
	color: #cc9933;
	text-transform: uppercase;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #e0e9f0;
	margin: 0;
}
.callout p {
	padding: 12px;
	line-height: 1.3em;
	margin-top: 6px;
}
.callout a[href$=".pdf"] {
	background-image: none!important;
}
.callout a {
	padding: 0!important;
	margin: 0!important;
}
.currentsInset {
	float: right;
	width: 200px;
	max-height: 100%;
	border: 3px solid #e0e9f0;
	clear: left;
	margin: 10px 20px 10px 10px;
	padding: 10px;
	background-color: #fff;
}
.currentsInset h4 {
	color: #cc9933;
	text-transform: uppercase;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #e0e9f0;
	margin: 0;
}
.currentsInset p {
	font-size: 10px;
	padding: 0;
	line-height: 125%;
}
.currentsInset a[href$=".pdf"] {
	background-image: none!important;
}
.currentsInset a img {
	padding: 0!important;
	margin: 0!important;
}
.sidebarTxt {
	font-size: 10px;
	margin-top: -12px;
	line-height: 125%;
}
.sidebar {
	font-size: 11px;
	padding: 8px;
	line-height: 125%;
	border: 0px solid #6B1424;
	background: #e8ebf5;
	float : right ! important;
	width : 160px;
	vertical-align : top;
	margin-left: 5px;
	margin-top: 5px;
}
.sidebarWide {
	font-size: 11px;
	padding: 8px;
	line-height: 125%;
	border: 0px solid #6B1424;
	background: #e8ebf5;
	float : right ! important;
	width : 260px;
	vertical-align : top;
	margin-left: 5px;
	margin-top: 5px;
}
.sidebarWide ul li {
	font-size: 11px !important;
}

/* NO PDF ICON FOR HYPERLINK */
 a.noIcon {
background:none; 
padding-right:0px;
margin-right:0px;
display:inline;
line-height:inherit;
}