@media only screen and (min-width: 768px) {
.contentheader .branding {
	width: auto;
	margin: 54px 0 23px 0;
	float: none;
}
.agg #contentfooter .branding {
	padding: 41px 15px 0 30px;
}
.agg #contentfooter .branding .main {
	margin-left: 5px;
	margin-bottom: 19px;
}
.agg #contentfooter .branding .icon {
	position: relative;
	float: left;
	margin-left: 2.857%;
	bottom: 10px;
	width: 17%;
	max-width: 58px;
}
.agg #contentfooter .branding .tag {
	max-width: 95%;
	max-height: 33px;
	position: relative;
	line-height: 1.4;
	top: 3px;
	left: 7px;
}
.icon {
width: 69px;
margin-right: 3px;
}
}