body {
}
/*This stylesheet class will make the <div> tag look like a Facebook share button */
.FBShare-Vertical {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #333333;
	background: url(//media.mercola.com/themes/mercola/images/cssprites.png) -250px -50px;
	text-align: center;
	display: block;
	width: 59px;
	height: 62px;
	margin: 0px;
	line-height: 35px;
	letter-spacing: -1px;
	cursor:pointer;
}
.FBShare-Horizontal-1 {
	background-image: url(//media.mercola.com/assets/images/social/fbshare/FBShare-Horizontal-1.gif);
	background-repeat: no-repeat;
	padding-right: 3px;
	width: 70px;
	height: 18px;
	margin: 0px;
	padding: 0px;
	cursor:pointer;
	display:inline-block;
}
.FBShare-Horizontal-2 {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #333333;
	height: 18px;
	display:inline-block;
	padding: 2px 0px 0px;
	margin:0px;
	vertical-align: top;
	background-image: url(//media.mercola.com/assets/images/social/fbshare/FBShare-Horizontal-2.gif);
	background-repeat: repeat-x;
	cursor:pointer;
}
.FBShare-Horizontal-3 {
	background-image: url(//media.mercola.com/assets/images/social/fbshare/FBShare-Horizontal-3.gif);
	background-repeat: no-repeat;
	width: 4px;
	height: 18px;
	margin: 0px;
	padding: 0px;
	display:inline-block;
	cursor:pointer;
}
.FBShare-Video{
	background-image: url(//media.mercola.com/themes/mercola/images/vid-facebook.gif);
	background-repeat: no-repeat;
	width: 150px;
	height: 150px;
	margin: 0px;
	padding: 0px;
	display:inline-block;
	cursor:pointer;
}
.fb-share-button div,
.fb-share-button span,
.fb-share-button iframe
{
	 width: 60px !important;
	 height: 60px !important;
}